.comment {
  position: relative;
  display: block;
  padding: 0;
  margin: 0 0 1.5em;
}
.comments .indented {
  position: relative;
  padding-left: 1.25em;
  margin-top: -1.5em;
}
.comments .indented:before,
.comments .indented:after {
  content: '';
  position: absolute;
  display: block;
  border: 2px solid transparent;
}
.comments .indented:before {
  top: -1em;
  left: 0;
  width: 0.5em;
  height: 1.5em;
}
.comments .indented:after {
  content: '';
  position: absolute;
  top: 0.6875em;
  left: 0.4375em;
  width: 0.25em;
  height: 0.25em;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transform-origin: right top;
}
[dir="rtl"] .comment {
  padding: 0;
}
.comment-header {
  position: relative;
}
.comment-header:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 32px;
  width: 12px;
  height: 12px;
  display: block;
  border: 1px solid transparent;
  -webkit-transform: rotate(-45deg) translate(0, -10px);
  transform: rotate(-45deg) translate(0, -10px);
  pointer-events: none;
  z-index: 0;
}
[dir="rtl"] .comment:before {
  right: 32px;
  left: auto;
}
.comment .attribution {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 0 0.5em;
}
[dir="rtl"] .comment .attribution {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.comment .attribution img {
  display: block;
}
.comment .user-picture {
  width: 3.25em;
  padding: 0 0.75em 0 0;
}
.commenter-name {
  margin: 0;
}
.comment-title {
  padding: 1em 1.25em 0.25em;
}
.comment-title h3 {
  margin: 0;
  padding: 0;
  font-size: 1.125em;
}
.comment.comment-title-hidden .comment-title .permalink {
  display: block;
  width: 1em;
  height: 1em;
  float: right; /* LTR */
  margin: 0 0 0 8px; /* LTR */
  text-indent: -333px;
  overflow: hidden;
  background-color: currentColor;
  -webkit-mask-image: url("../../img/permalink.svg");
  mask-image: url("../../img/permalink.svg");
  -webkit-mask-size: cover;
  mask-size: cover;
}
[dir="rtl"] .comment.comment-title-hidden .comment-title .permalink {
  float: left;
  margin: 0 8px 0 0;
}
.comment-time {
  padding: 6px 0;
  display: block;
  font-size: 0.875em;
}
.comment .submitted {
  font-style: normal;
  font-size: 1rem;
  padding: 0;
}
.comment .content {
  padding: 0 1.375em;
}
.comment-footer {
  float: right;
  margin: 0 -0.125em 0 0;
  padding: 0.5em 0.5em;
}
.comment-footer .links.inline li {
  margin: 0;
  padding: 0 0.5em; /* Ensure spacing on login links */
}
.comment-footer .links.inline li:after {
  display: none;
}
.comment-footer .links.inline a {
  display: inline-block;
  margin: 0 -0.5em; /* Prevent spacing on login message */
  padding: 0 0.5em;
  font-size: 90%;
}
[dir="rtl"] .comment-footer {
  float: left;
}
